<a href="https://colab.research.google.com/github/TurboJapuraEfac/HackerrankPython/blob/master/Python_101_Part_01_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Variables**

In [1]:
#Create a variable called break and assign it a value 5. 
#See what happens and find out the reason behind the behavior that you see.
'''
break = 5
print(break)'''

#  File "<ipython-input-1-4f05e137bc4f>", line 4
#     break = 5
#           ^
# SyntaxError: invalid syntax

'\nbreak = 5\nprint(break)'

In [2]:
# Create two variables. One to store your birth year and another one to store current year. 
# Now calculate your age using these two variables
birth_year = 1996
curre_year = 2022
age = curre_year - birth_year
print(age)

26

In [3]:
#Store your first, middle and last name in three different variables 
#and then print your full name using these variables
first = "Nimesh "
middle = "Buddhika "
last = "Weerasinghe"
name = first+middle+last
print(name)

Nimesh Buddhika Weerasinghe

In [4]:
# 4. Answer which of these are invalid variable names:
# "_nation, 1record, record1, record_one, record-one, record^one, continue"

'''1record, record-one, record^one, continue'''

'1record, record-one, record^one, continue'

**Numbers**

In [5]:
#You have a football field that is 92 meter long and 48.8 meter wide. Find out total area using python and print it.
wide = float(48.8)
long_ = float(92)
area = 2 * (wide+long_)
print(area)

281.6

In [6]:
# You bought 9 packets of potato chips from a store. Each packet costs 1.49 dollar and you gave shopkeeper 20 dollar.
# Find out using python, how many dollars is the shopkeeper going to give you back?
packet = float(1.49)
remains = float(20) - (packet*9)
print(remains)

6.59

In [7]:
# You want to replace tiles in your bathroom which is exactly square and 5.5 feet is its length. 
# If tiles cost 500 rs per square feet, how much will be the total cost to replace all tiles. 
# Calculate and print the cost using python (Hint: Use power operator ** to find area of a square)

area = 5.5 ** 2
cost_per_1 = 500
total_cost = area * 500
print(total_cost)

15125.0

In [8]:
#Print binary representation of number 17
num=17
print('Binary of number 17 is:',format(num,'b'))

Binary of number 17 is: 10001

**strings** & strings are immutable

In [9]:
# Create a string variable to store this text "Earth revolves around the sun",
#     (a) Print substring “revolves” 
#     (b) Print substring “sun” using negative index

text = "Earth revolves around the sun"
print(text[6:15])

revolves

In [10]:
print(text[-3:])

sun

In [11]:
# 1. Create 3 variables to store street, city and country, now create address variable to
# store entire address. Use two ways of creating this variable, one using + operator and the other using f-string.
# Now Print the address in such a way that the street, city and country prints in a separate line

street = "Paluwelagala Road"
city = "Naththandiya"
country = "Sri-Lanka"
print( street + '\n' + city + '\n' + country)

Paluwelagala Road
Naththandiya
Sri-Lanka

In [12]:
address = f'{street}\n{city}\n{country}'
print(address)

Paluwelagala Road
Naththandiya
Sri-Lanka

In [13]:
# Create two variables to store how many fruits and vegetables you eat in a day. 
# Now Print "I eat x veggies and y fruits daily" where x and y presents vegetables and fruits that you eat everyday. 
# Use python f string for this.
fruits = 2
vegetables = 5
print(f"I eat {vegetables} veggies and {fruits} fruits daily")

I eat 5 veggies and 2 fruits daily

In [14]:
# I have a string variable called s='maine 200 banana khaye'.
# This of course is a wrong statement, the correct statement is 'maine 10 samosa khaye'. 
# Replace incorrect words in original strong with new ones and print the new string.
# Also try to do this in one line.

s='maine 200 samosa khaye'
x = s.replace("200", "10")
print(x)

maine 10 samosa khaye

`**PyChram**`



1.   Create a new project
2.   Change Location to where you want
3.   Create new python file

**If Statements**

In [15]:
india = ["mumbai", "banglore", "chennai", "delhi"]
pakistan = ["lahore","karachi","islamabad"]
bangladesh = ["dhaka", "khulna", "rangpur"]

# Write a program that asks user to enter a city name and it should tell which country the city belongs to
# Write a program that asks user to enter two cities and it tells you if they both are in same country or not.
# For example if I enter mumbai and chennai, it will print "Both cities are in India" 
# but if I enter mumbai and dhaka it should print "They don't belong to same country"

x = input()

if x in india:
  print(f"{x} is a city in India")
elif x in pakistan:
  print(f"{x} is a city in Pakistan")
elif x in bangladesh:
  print(f"{x} is a city in bangladesh")
else:
  print(f"{x} is not a city of any of above countries")

mumbai
mumbai is a city in India

In [16]:
x1 = input()
x2 = input()

if x1 in india and x2 in india:
  print(f"{x1,x2} are cities in India")
elif x1 in pakistan and x2 in pakistan:
  print(f"{x1,x2} are cities in Pakistan")
elif x1 in bangladesh and x2 in bangladesh:
  print(f"{x1,x2} are cities in bangladesh")
else:
  print(f"{x1,x2} doesnot belong to same country")

mumbai
delhi
('mumbai', 'delhi') are cities in India

In [17]:
# Exercise: Python If Condition
# 2. Write a python program that can tell you if your sugar is normal or not. Normal fasting level sugar range is 80 to 100.
#     1. Ask user to enter his fasting sugar level
#     2. If it is below 80 to 100 range then print that sugar is low
#     3. If it is above 100 then print that it is high otherwise print that it is normal

x = input("Please enter your fasting sugar level:")
x = float(x)
if x < 80:
  print("Your sugar level is low")
elif x > 100:
  print("Your sugar level is high")
else:
   print("Your sugar is normal, relax and enjoy your life!")

Please enter your fasting sugar level:100
Your sugar is normal, relax and enjoy your life!

In [18]:
# Store monthly expenses in a list and find out total expenses for all the months

expense_list = [2340, 2500, 2100, 3100, 2980]
month_list = ["January", "February", "March", "April", "May"]

total  = 0
for i in expense_list:
  total = total + i
print(total)

13020

In [19]:
# start varaible to end+1
for i in range(1,11):
  print(i**3)

1
8
27
64
125
216
343
512
729
1000

In [20]:
total  = 0
expense_list = [2340, 2500, 2100, 3100, 2980]
for i in range(len(expense_list)):
  print("Month : ", i+1, " Value : ",expense_list[i] )
  total = total + expense_list[i]
print('Sum :', total)

Month :  1  Value :  2340
Month :  2  Value :  2500
Month :  3  Value :  2100
Month :  4  Value :  3100
Month :  5  Value :  2980
Sum : 13020

In [21]:
key_location = "chair"
locations = ['garage', 'kitchen', 'liiving room','chair', 'closet']
for i in locations:
  if i == key_location:
    print("Key is found", i)
    break
  else:
    print("key is not found",i)

key is not found garage
key is not found kitchen
key is not found liiving room
Key is found chair

In [22]:
# print square of numbers between 1 to 5 except even numbers
for i in range(1,6):
  if(i%2 == 0):
    continue
  print(i*i)

1
9
25

In [23]:
i =1
while i <=5:
  print(i)
  i= i+1

1
2
3
4
5

In [24]:
# After flipping a coin 10 times you got this result,
result = ["heads","tails","tails","heads","tails","heads","heads","tails","tails","tails"]
# Using for loop figure out how many times you got heads

total = 0
for i in result:
  if i == 'heads':
    print(i)
    total = total+1
print(total)

heads
heads
heads
heads
4

In [25]:
# Print square of all numbers between 1 to 10 except even numbers
for i in range(1,11):
  if (i%2 == 0):
    continue
  print(i*i)

1
9
25
49
81

In [26]:
# Your monthly expense list (from Jan to May) looks like this,
expense_list = [2340, 2500, 2100, 3100, 2980]
# Write a program that asks you to enter an expense amount and program should tell you in which month that expense occurred.
# If expense is not found then it should print that as well

x = input()
x = float(x)
for i  in range(len(expense_list)):
  if x == expense_list[i]:
    print("Month is ", i+1)
    break
  else:
    print("There is not a matching month")

1
There is not a matching month
There is not a matching month
There is not a matching month
There is not a matching month
There is not a matching month

In [27]:
# Lets say you are running a 5 km race. Write a program that,

# Upon completing each 1 km asks you "are you tired?"
# If you reply "yes" then it should break and print "you didn't finish the race"
# If you reply "no" then it should continue and ask "are you tired" on every km
# If you finish all 5 km then it should print congratulations message

for i in range(5):
    print(f"You ran {i+1} miles") 
    tired = input("Are you tired? ")
    if tired == 'yes':
        break

if i == 4: 
    print("Hurray! You are a rock star! You just finished 5 km race!")
else:
    print(f"You didn't finish 5 km race but hey congrats anyways! You still ran {i+1} miles")

You ran 1 miles
Are you tired? no
You ran 2 miles
Are you tired? yes
You didn't finish 5 km race but hey congrats anyways! You still ran 2 miles

In [28]:
# Write a program that prints following shape
# *
# **
# ***
# ****
# *****

for i in range(1,6):
  s = ''
  for j in range(i):
    s += '*'
    # print(s)
  print(s)

*
**
***
****
*****

**Functions**

In [29]:
# Write a function called calculate_area that takes base and height as an input and returns and area of a triangle.
# Equation of an area of a triangle is,
# area = (1/2)*base*height

def calc_area(base,height):
  area = (1/2) * base * height
  return area

x1 = input("Please input base : ")
x2 = input("Please input height : ")
print(calc_area(float(x1),float(x2)))

Please input base : 20
Please input height : 10
100.0

In [30]:
# Modify above function to take third parameter shape type. It can be either "triangle" or "rectangle". 
# Based on shape type it will calculate area. Equation of rectangle's area is,
# rectangle area=length*width

def calc_area(base,height,shape):
  if shape == "traingle":
    return (1/2) * base * height
  elif shape == "rectangle":
    return base * height
  else:
    print("Please select a correct shape")

x1 = input("Please input base : ")
x2 = input("Please input height : ")
shape = input("Please input the shape you want : ")
print(calc_area(float(x1),float(x2),shape))

Please input base : 20
Please input height : 20
Please input the shape you want : traingle
200.0

In [31]:
# Write a function called print_pattern that takes integer number as an argument and prints following pattern if input number is 3,
# *
# **
# ***

def print_tri(x):
  for i in range(1,x):
    s = ""
    for j in range(i):
      s = s + "*"
    print(s)

x = int(input("size :"))
print_tri(x)

size :7
*
**
***
****
*****
******

**Dictionaries and Tuples**

In [32]:
d = {}

In [33]:
d["tom"] = "0764306262"
d["habibi"] = "082342111"
d["aribba"] = "07834222212"

In [34]:
for key in d:
  print(key," ",d[key])

tom   0764306262
habibi   082342111
aribba   07834222212

In [35]:
for k,v in d.items():
  print(k, " ", v)

tom   0764306262
habibi   082342111
aribba   07834222212

In [36]:
# We have following information on countries and their population (population is in crores),
# Country	Population
# China	143
# India	136
# USA	32
# Pakistan	21

''' Using above create a dictionary of countries and its population '''

d = {}
d["China"] = 143
d["India"] = 136
d["USA"] = 32
d["Pakistan"] = 21

for key,v in d.items():
  print(key, " " , v)

China   143
India   136
USA   32
Pakistan   21

In [37]:
''' Write a program that asks user for three type of inputs '''

# print: if user enter print then it should print all countries with their population in this format,
# china==>143
# india==>136
# usa==>32
# pakistan==>21

population = {
    'china': 143,
    'india': 136,
    'usa': 32,
    'pakistan': 21
}

def print_all():
  for country, p in population.items():
    print(f"{country}==>{p}")

# add: if user input add then it should further ask for a country name to add.
# If country already exist in our dataset then it should print that it exist and do nothing. 
# If it doesn't then it asks for population and add that new country/population in our dictionary and print it

def add():
    country=input("Enter country name to add:")
    country=country.lower()
    if country in population:
        print("Country already exist in our dataset. Terminating")
        return
    p=input(f"Enter population for {country}")
    p=float(p)
    population[country]=p # Adds new key value pair to dictionary
    print_all()

# remove: when user inputs remove it should ask for a country to remove. 
# If country exist in our dictionary then remove it and print new dictionary using format shown above in (a).
# Else print that country doesn't exist!

def remove():
  country = input("Enter the country to remove : ")
  country= country.lower()
  if country in population:
    print("It is in the datset, Popping")
    return
  del population[country]
  print_all()
  

# query: on this again ask user for which country he or she wants to query.
# When user inputs that country it will print population of that country
def query():
    country = input("Enter country name to query:")
    country = country.lower()
    if country not in population:
        print("Country doesn't exist in our dataset. Terminating")
        return
    print(f"Population of {country} is: {population[country]} crore")


def main():
    op=input("Enter operation (add, remove, query or print):")
    if op.lower() == 'add':
        add()
    elif op.lower() == 'remove':
        remove()
    elif op.lower() == 'query':
        query()
    elif op.lower() == 'print':
        print_all()

if __name__ == '__main__':
    main()

Enter operation (add, remove, query or print):add
Enter country name to add:Sri Lanka
Enter population for sri lanka2
china==>143
india==>136
usa==>32
pakistan==>21
sri lanka==>2.0

In [56]:
# You are given following list of stocks and their prices in last 3 days,

# Stock	Prices
# info	[600,630,620]
# ril	[1430,1490,1567]
# mtl	[234,180,160]

'''Write a program that asks user for operation. Value of operations could be,
print: When user enters print it should print following

info ==> [600, 630, 620] ==> avg:  616.67
ril ==> [1430, 1490, 1567] ==> avg:  1495.67
mtl ==> [234, 180, 160] ==> avg:  191.33

add: When user enters 'add', it asks for stock ticker and price. If stock already exist in your list 
(like info, ril etc) then it will append the price to the list. Otherwise it will create new entry in your dictionary.
For example entering 'tata' and 560 will add tata ==> [560] to the dictionary of stocks.
'''

# Part 1
stock_prices = {}
stock_prices["info"] = 	[600,630,620]
stock_prices["ril"] = [1430,1490,1567]
stock_prices["mtl"] = [234,180,160]

def print_all():
  for key,value in stock_prices.items():
    total = 0
    for i in value:
      total= total+i
    avg = float(total/len(value))
    print(key, " ==> ", value, " ==> avg:  ", avg)

# part 2
def add():
  s = input("Enter a stock ticker to add:")
  p = input("Enter price of this stock:")
  p=float(p)
  if s in stock_prices:
      stock_prices[s].append(p)
  else:
      stock_prices[s] = [p]
  print_all()
    
def main():
    op=input("Enter operation (add, print):")
    if op.lower() == 'add':
        add()
    elif op.lower() == 'print':
        print_all()

if __name__ == '__main__':
    main()

Enter operation (add, print):add
Enter a stock ticker to add:sl
Enter price of this stock:20
info  ==>  [600, 630, 620]  ==> avg:   616.6666666666666
ril  ==>  [1430, 1490, 1567]  ==> avg:   1495.6666666666667
mtl  ==>  [234, 180, 160]  ==> avg:   191.33333333333334
sl  ==>  [20.0]  ==> avg:   20.0

In [57]:
'''Write circle_calc() function that takes 
radius of a circle as an input from user
then it calculates and returns area, circumference and diameter. 
You should get these values in your main program by calling circle_calc function and then print them'''

import math

def circle_calc(radius):
    area=math.pi*(radius**2)
    circumference=2*math.pi*radius
    diameter=2*radius
    return area, circumference,diameter

if __name__=="__main__":
    r=input("Enter a radius:")
    r=float(r)
    area, c, d = circle_calc(r)
    print(f"area {area}, circumference {c}, diameter {d}")

Enter a radius:5
area 78.53981633974483, circumference 31.41592653589793, diameter 10.0

# **Modules**

Modules is a way to reuse a code written by someone else. We can use modules written by someone else in our code.

In [59]:
import calendar
dir(calendar)

['Calendar',
 'EPOCH',
 'FRIDAY',
 'February',
 'HTMLCalendar',
 'IllegalMonthError',
 'IllegalWeekdayError',
 'January',
 'LocaleHTMLCalendar',
 'LocaleTextCalendar',
 'MONDAY',
 'SATURDAY',
 'SUNDAY',
 'THURSDAY',
 'TUESDAY',
 'TextCalendar',
 'WEDNESDAY',
 '_EPOCH_ORD',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_colwidth',
 '_locale',
 '_localized_day',
 '_localized_month',
 '_spacing',
 'c',
 'calendar',
 'datetime',
 'day_abbr',
 'day_name',
 'different_locale',
 'error',
 'firstweekday',
 'format',
 'formatstring',
 'isleap',
 'leapdays',
 'main',
 'mdays',
 'month',
 'month_abbr',
 'month_name',
 'monthcalendar',
 'monthlen',
 'monthrange',
 'nextmonth',
 'prcal',
 'prevmonth',
 'prmonth',
 'prweek',
 'repeat',
 'setfirstweekday',
 'sys',
 'timegm',
 'week',
 'weekday',
 'weekheader']

In [60]:
import calendar
y = int(input("Input the year : "))
m = int(input("Input the month : "))
print(calendar.month(y, m))

Input the year : 2022
Input the month : 4
     April 2022
Mo Tu We Th Fr Sa Su
             1  2  3
 4  5  6  7  8  9 10
11 12 13 14 15 16 17
18 19 20 21 22 23 24
25 26 27 28 29 30

We can write our own python modules (ex: functions.py)

- If in same folder

```
import functions as func
```
- If functions.py is in subdirectory called modules

```
import modules.functions as func
```

- If functions.py is in a another folder in the laptop we have to use system path

```
import sys
sys.path.append("c:\new_folder")
import functions as func
```

# **JSON OBJECTS**

In [65]:
import json

book = {}
book["tom"] = {'name':'tom', 'address':'No 20. Paluwelagla Road, Koswaththa', 'Phone_No': '0832323232' }
book["bob"] = {'name':'bob', 'address':'No 100. Paluwel Road, Naththandiya', 'Phone_No': '0832323233' }

new = json.dumps(book) 
# It takes dictionary object book as an input
# Then dumping it as a string 
# Then it converts the dictionary object as a string
# Then it will be converted to JSON

''' for writing it is w'''
with open('/content/sample.txt','w') as f:
  f.write(new)

# We can read this file now from c++ or JS
# Hence this is called a data exchange format

In [66]:
''' for reading it is r'''
f = open('/content/sample.txt','r')
s = f.read()
print(s)

{"tom": {"name": "tom", "address": "No 20. Paluwelagla Road, Koswaththa", "Phone_No": "0832323232"}, "bob": {"name": "bob", "address": "No 100. Paluwel Road, Naththandiya", "Phone_No": "0832323233"}}

In [67]:
import json
book = json.loads(s) # json load string (loads), it will convert s into a dictionary
type(book)

dict

In [68]:
book['bob']

{'Phone_No': '0832323233',
 'address': 'No 100. Paluwel Road, Naththandiya',
 'name': 'bob'}

In [69]:
book['bob']['Phone_No']

'0832323233'

In [70]:
for person in book:
  print(book[person])

{'name': 'tom', 'address': 'No 20. Paluwelagla Road, Koswaththa', 'Phone_No': '0832323232'}
{'name': 'bob', 'address': 'No 100. Paluwel Road, Naththandiya', 'Phone_No': '0832323233'}

In [72]:
for person in book:
  for k,v in book[person].items():
    print(k, '   ',v)
  print('\n')

name     tom
address     No 20. Paluwelagla Road, Koswaththa
Phone_No     0832323232


name     bob
address     No 100. Paluwel Road, Naththandiya
Phone_No     0832323233

In [73]:
import json
f = open('/content/example.txt',"w+")

phone_book = {}
command = ""
while command != 'exit':
    command = input('Enter a command(options: new,get,save): ')
    if command == "new":
        name = input('Enter name of the person')
        p = input('Phone number: ')
        a = input('Address: ')
        phone_book[name] = {'phone': p, 'address': a}
    elif command == 'get':
        name = input('Enter name of the person')
        if name in phone_book:
            print(phone_book[name])
        else:
            print('person not found in address book')
    elif command == 'save':
        f.write(json.dumps(phone_book))

Enter a command(options: new,get,save): new
Enter name of the personBuddhika
Phone number: 0764306262
Address: No 20, Koswaththa
Enter a command(options: new,get,save): get
Enter name of the personBuddhika
{'phone': '0764306262', 'address': 'No 20, Koswaththa'}
Enter a command(options: new,get,save): save
Enter a command(options: new,get,save): new
Enter name of the personAribba
Phone number: 0873447272
Address: No 02, Colombo
Enter a command(options: new,get,save): exit