<a href="https://colab.research.google.com/github/TurboJapuraEfac/HackerrankPython/blob/master/Python_101_Part_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Reading/ Writing new files**



1.   Create a new file and write to it
2.   Reding file line by line
3.   File open modes
4.   With statement

1. Create a new file and write to it

In [ ]:
# create a new file called funny.txt

# we have to use open function
# 1st param is file name
# 2nd param is file open mode

f = open("/content/funny.txt","w")
# here w mode will overwrite the previous content 
# f.write("I love python")
f.write("I love Javascript")
f.close()

In [ ]:
# If we don't want to overwrite we want to use append mode "a"
f = open("/content/funny.txt","a")
f.write("\n I love PHP")
f.close()

2. Read file line by line

In [ ]:
# Read file line by line

# Teacher : Why are you late Frank?
# Frank : Because of the sign
# Teacher : What sign ? 
# Frank : "The one what says school ahead, go slow"

# Change funny.txt to this
# Create a new file that has all the lines in funny.txt plus word count for each line
f = open("/content/funny.txt","r")
print(f.read()) # read whole content
f.close()

f = open("/content/funny.txt","r")
f_out = open("/content/new_funny.txt","w")
for line in f: # read line by line
  tokens = line.split(" ")
  print(tokens)
  print(len(tokens))
  f_out.write(line+" Word Count : " + str(len(tokens)))
f.close()
f_out.close()

Teacher : Why are you late Frank?
Frank : Because of the sign
Teacher : What sign ?
Frank : "The one what says school ahead, go slow"
['Teacher', ':', 'Why', 'are', 'you', 'late', 'Frank?\n']
7
['Frank', ':', 'Because', 'of', 'the', 'sign\n']
6
['Teacher', ':', 'What', 'sign', '?', '\n']
6
['Frank', ':', '"The', 'one', 'what', 'says', 'school', 'ahead,', 'go', 'slow"']
10

3. File open modes

  a. If we open a file in read mode we cannot write to it

  b. If we open a file in write mode we cannot read it

  c.If we want both read and writing we have to use `"r+"` or `"w+"`. Difference is if the file does not exist in w mode it will create it. In r mode it will not create it.

4. With Open - with automatically closes file

In [ ]:
# Using with will automatically close the file for us
with open("/content/funny.txt","r") as f:
  print(f.read())

Teacher : Why are you late Frank?
Frank : Because of the sign
Teacher : What sign ?
Frank : "The one what says school ahead, go slow"

In [ ]:
# EXERCISES

'''poem.txt contains famous poem "Road not taken" by poet Robert Frost.
You have to read this file in your python program and find out words with maximum occurance.'''

# create a dictionary with words and counts
word_stats = {}

with open("/content/poem.txt","r+") as f:
  # print(f.read())
  for line in f:
    line = line.strip('\n')
    tokens = line.split(" ")
    if len(tokens) == 1:
      continue
    # print(tokens)
    for word in tokens:
      if word in word_stats:
        word_stats[word] +=1
      else:
        word_stats[word] = 1

print(word_stats)
print('\n')

# convert values into a list
print(word_stats.values())
print(list(word_stats.values()))

word_occurances = list(word_stats.values())
max_count = max(word_occurances)

# get the max count from the list
print("Max occurances of any word is:",max_count)
print('\n')

# check what word equals to max count in the list
print("Words with max occurances are: ")
for word, count in word_stats.items():
    if count==max_count:
        print(word)

{'Two': 2, 'roads': 2, 'diverged': 2, 'in': 3, 'a': 3, 'yellow': 1, 'wood,': 2, 'And': 6, 'sorry': 1, 'I': 8, 'could': 2, 'not': 1, 'travel': 1, 'both': 2, 'be': 2, 'one': 3, 'traveler,': 1, 'long': 1, 'stood': 1, 'looked': 1, 'down': 1, 'as': 5, 'far': 1, 'To': 1, 'where': 1, 'it': 2, 'bent': 1, 'the': 8, 'undergrowth;': 1, 'Then': 1, 'took': 2, 'other,': 1, 'just': 1, 'fair,': 1, 'having': 1, 'perhaps': 1, 'better': 1, 'claim,': 1, 'Because': 1, 'was': 1, 'grassy': 1, 'and': 3, 'wanted': 1, 'wear;': 1, 'Though': 1, 'for': 2, 'that': 3, 'passing': 1, 'there': 1, 'Had': 1, 'worn': 1, 'them': 1, 'really': 1, 'about': 1, 'same,': 1, 'morning': 1, 'equally': 1, 'lay': 1, 'In': 1, 'leaves': 1, 'no': 1, 'step': 1, 'had': 1, 'trodden': 1, 'black.': 1, 'Oh,': 1, 'kept': 1, 'first': 1, 'another': 1, 'day!': 1, 'Yet': 1, 'knowing': 1, 'how': 1, 'way': 1, 'leads': 1, 'on': 1, 'to': 1, 'way,': 1, 'doubted': 1, 'if': 1, 'should': 1, 'ever': 1, 'come': 1, 'back.': 1, 'shall': 1, 'telling': 1, 'this': 1, 'with': 1, 'sigh': 1, 'Somewhere': 1, 'ages': 2, 'hence:': 1, 'Iâ€”': 1, 'less': 1, 'traveled': 1, 'by,': 1, 'has': 1, 'made': 1, 'all': 1, 'difference.': 1}


dict_values([2, 2, 2, 3, 3, 1, 2, 6, 1, 8, 2, 1, 1, 2, 2, 3, 1, 1, 1, 1, 1, 5, 1, 1, 1, 2, 1, 8, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 3, 1, 1, 1, 2, 3, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1])
[2, 2, 2, 3, 3, 1, 2, 6, 1, 8, 2, 1, 1, 2, 2, 3, 1, 1, 1, 1, 1, 5, 1, 1, 1, 2, 1, 8, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 3, 1, 1, 1, 2, 3, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1]
Max occurances of any word is: 8


Words with max occurances are:
I
the

In [32]:
'''
stocks.csv contains stock price, earnings per share and book value.
You are writing a stock market application that will process this file and create a new file with financial metrics
such as pe ratio and price to book ratio. These are calculated as 

pe ratio = price / earnings per share
price to book ratio = price / book value

Output.csv should look like this,

Company Name	PE Ratio	PB Ratio
Reliance	22.23	2.25
Tata Steel	4.39	0.68
'''

import csv
header = ['Company Name',	'Price',	'Earnings Per Share',	'Book Value']
data = [
    ['Reliance',1467,66,653],
    ['Tata Steel',391,89,572],
    ['Infosys',650,35,147],
    ['Axis Bank',739,19,263],
    ['Bajaj Finance',4044,69,341]
]

with open('stocks.csv', 'w+', encoding='UTF8', newline='') as f:
    writer = csv.writer(f)
    writer.writerow(header)
    writer.writerows(data)

In [33]:
import pandas as pd 
data = pd.read_csv("/content/stocks.csv") 
data.head()

    Company Name  Price  Earnings Per Share  Book Value
0       Reliance   1467                  66         653
1     Tata Steel    391                  89         572
2        Infosys    650                  35         147
3      Axis Bank    739                  19         263
4  Bajaj Finance   4044                  69         341

In [34]:
data["PE Ratio"] = data["Price"] / data["Earnings Per Share"]
data["PB Ratio"] = data["Price"] / data["Book Value"]
data.head()

    Company Name  Price  Earnings Per Share  Book Value   PE Ratio   PB Ratio
0       Reliance   1467                  66         653  22.227273   2.246554
1     Tata Steel    391                  89         572   4.393258   0.683566
2        Infosys    650                  35         147  18.571429   4.421769
3      Axis Bank    739                  19         263  38.894737   2.809886
4  Bajaj Finance   4044                  69         341  58.608696  11.859238

In [36]:
new = data[['Company Name','PE Ratio','PB Ratio']]
new.head()
new.to_csv('output.csv')

# **if __name__ == "__main__"**

In [37]:
def calc_area(base,height):
  return 1/2*base*height

if __name__ == "__main__":
  a = calc_area(10,20)
  print("Area :",a)

Area : 100.0

In [38]:
__name__ # this is a predefined variable

'__main__'

# **Exception Handling**



*   Exceptions are errors detected at the time of program execution
*   Google python built in exceptions to see list of standard exceptions

In [40]:
'''
1/0 ==> division by zero
'abc'+2 ==> string + int concatanation
'''

x=input("Enter number1: ")
y=input("Enter number2: ")

# Normal code inside try
try:
    z = int(x) / int(y)
except ZeroDivisionError as e:
    print('Division by zero exception')
    z = None
except TypeError as e:
    print('Type error exception')
    z = None
print("Division is: ", z)

Enter number1: 1
Enter number2: 0
Division by zero exception
Division is:  None

# **Classes**

**Human**

*Properties*
*   Name
*   Gender
*   Occuaption

*Methods*
*   Speaks
*   Do Work
*   Sleeps 

`Properties and Methods form a class `

`Object is a specific instance of a class`

"Buddhika Weerasinghe"

In [42]:
class Human:
  # Here self is just a syntax / class it self
  def __init__(self, Name, Job):   #this function initializes the properties of that particular class 
    self.name = Name
    self.occupation = Job
  
  def do_work(self):
    if self.occupation == "tennis player":
        print(self.name, "plays tennis")
    elif self.occupation == "actor":
        print(self.name, "shoots film")

  def speaks(self):
    print(self.name, "says how are you?")

tom = Human("tom cruise","actor") # self is always passed
tom.do_work()
tom.speaks()

maria = Human("maria sharapova","tennis player")  # self is always passed
maria.do_work()
maria.speaks()

tom cruise shoots film
tom cruise says how are you?
maria sharapova plays tennis
maria sharapova says how are you?

In [51]:
# Create a sample class named Employee with two attributes id and name
# employee :
#     id
#     name

class Employee:
  
  def __init__(self, ID, EmpName):
    self.id = ID
    self.name = EmpName

  def print_details(self):
    print(f"ID: {self.id} \nName: {self.name}")

# Creating a emp instance of Employee class
emp = Employee(1, "coder")
emp.print_details()

# Deleting the property of object
del emp.id

ID: 1
Name: coder

In [53]:
# Deleting the object itself

# try:
#   print(emp.id)
# except NameError:
#   print("emp.id is not defined")

del emp

try:
  emp.print_details()  # it will gives error after deleting emp
except NameError:
  print("emp is not defined")

emp is not defined